<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="text-center">
        <h2>Redifinir Palavra-passe conta</h2>
      </div>
      <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" #f="ngForm">
        <div class="form-group">
          <label for="newPassword">Nova Palavra-passe</label>
          <input type="password" id="newPassword" class="form-control"
                 formControlName="newPassword" required>
          <div *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched || f.submitted)"
               class="alert alert-danger">
            <div *ngIf="newPassword.errors?.['required']">A palavra-passe é obrigatória</div>
            <div *ngIf="newPassword.errors?.['pattern']">A palavra-passe precisa de pelo menos uma letra e um dígito e
              no mínimo 6 caracteres
            </div>
          </div>
        </div>
        <div class="form-group">
          <label for="newPasswordConfirm">Confirmação da Nova Palavra-passe</label>
          <input type="password" id="newPasswordConfirm" class="form-control"
                 formControlName="newPasswordConfirm" required>
          <div
            *ngIf="newPasswordConfirm.invalid && (newPasswordConfirm.dirty || newPasswordConfirm.touched || f.submitted)"
            class="alert alert-danger">
            <div *ngIf="newPasswordConfirm.errors?.['required']">A confirmação da palavra-passe é obrigatória</div>
            <div *ngIf="newPasswordConfirm.errors?.['mustMatch']">As palavra-passes não são iguais</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="isLoading" class="btn btn-primary btn-block">Redifinir palavra-passe</button>
          <div class="row">
            <a routerLink="/login" class="btn btn-link">Iniciar Sessão</a>
            <a routerLink="/resend-confirmation-email" class="btn btn-link">Re-enviar link confirmação e-mail</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

