<div class="container">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <div class="text-center">
        <h2>Recuperar Password Conta</h2>
      </div>
      <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="emailOrUsername">Nome de Utilizador/E-Mail</label>
          <input type="text" id="emailOrUsername" class="form-control"
                 formControlName="emailOrUsername" required>
          <div *ngIf="emailOrUsername.invalid && emailOrUsername.dirty"
               class="alert alert-danger">
            <div *ngIf="emailOrUsername.errors?.['required']">O nome de utilizador ou e-mail são obrigatórios</div>
          </div>
        </div>
        <div class="form-group">
          <button [disabled]="loading" class="btn btn-primary btn-block">Enviar e-mail de recuperação de password</button>
          <div class="row">
            <a routerLink="/login" class="btn btn-link">Iniciar Sessão</a>
            <a routerLink="/resend-confirmation-email" class="btn btn-link">Re-enviar link confirmação e-mail</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

